@font-face {
    font-family: "Satoshi";
    src:
      url("../../public/Fonts/Satoshi/satoshi.woff2") format("woff2"),
      url("../../public/Fonts/Satoshi/satoshi.woff") format("woff"),
      url("../../public/Fonts/Satoshi/satoshi.ttf") format("truetype");
  
    font-weight: 300 900;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: "Onest";
    src:
      url('../../public/Fonts/Onest/onest.woff2') format("woff2"),
      url('../../public/Fonts/Onest/onest.woff') format("woff"),
      url('../../public/Fonts/Onest/onest.ttf') format("truetype");
  
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
  }