---
import Layout from '../layouts/Layout.astro';
import Headerr from '../components/Headerr.astro';
import Hero from '../components/Hero.astro';
import Projects from '../components/Projects.astro';
import About from '../components/About.astro';

---

<Layout title="Minuttos Portfolio">
	<main>
		<Headerr/>
		<Hero/>
		<Projects/>
		<About/>
	</main>
</Layout>
