---
import Layout from "../layouts/Layout.astro";
import AboutIcon from "../../public/icons/AboutIcon.astro";
import LinkedInIcon from "../../public/icons/LinkedInIcon.astro"
import RouteIcon from "../../public/icons/RouteIcon.astro";
import AdressIcon from "../../public/icons/AdressIcon.astro";
import GitHubIcon from "../../public/icons/GitHubIcon.astro"
import MailIcon from "../../public/icons/MailIcon.astro";
import InstaIcon from "../../public/icons/InstaIcon.astro"
import { getI18N } from "../i18n";

const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })
---

<Layout>
  <section id="about" class="about-me">
    <h2> <AboutIcon width="45px" height="45px"/>{i18n.ABOUT}</h2>
    <div class="contenedor">
      <article class="experience">
        <header > <LinkedInIcon width="30px" height="30px"/><h3>{i18n.EXPERIENCE_TITLE}</h3> </header>
        <ul class="trabajos">
          <li class="trabajo">
            <div class="headerTrabajo">
              <h3 class="titleTrabajo">{i18n["3-JOB_TITLE"]}</h3>
            <p>{i18n["3-JOB_SUBTITLE"]}</p>
            </div>
            <p class="textTrabajo" set:html={i18n["3-JOB_TEXT"]} />
          </li>  

          <li class="trabajo">
            <div class="headerTrabajo">
              <h3 class="titleTrabajo">{i18n["2-JOB_TITLE"]}</h3>
            <p>{i18n["2-JOB_SUBTITLE"]}</p>
            </div>
            <p class="textTrabajo" set:html={i18n["2-JOB_TEXT"]} />
            <p class="textTrabajo">{i18n["2B-JOB_TEXT"]}</p>
          </li>

          <li class="trabajo">
            <div class="headerTrabajo">
              <h3 class="titleTrabajo">{i18n["1-JOB_TITLE"]}</h3>
              <p>{i18n["1-JOB_SUBTITLE"]}</p>
            </div>
            <p class="textTrabajo" set:html={i18n["1-JOB_TEXT"]} />
          </li>
        </ul>
      </article>

      <article class="journey">
        <header><RouteIcon/><h3>{i18n.JOURNEY_TITLE}</h3></header>
        <section class="textAbout">
          <p set:html={i18n["1-JOURNEY_TEXT"]} />
          <p set:html={i18n["2-JOURNEY_TEXT"]} />
          <p set:html={i18n["3-JOURNEY_TEXT"]} />
          <p set:html={i18n["4-JOURNEY_TEXT"]} />
        </section>
      </article>

      <article class="social">
        <header><AdressIcon/><h3>{i18n.CONTACT_TITLE}</h3></header>
        <section class="socialContainer">
          <div class="textSocial">
             <p set:html={i18n["1-CONTACT_TEXT"]}/>
             <p>{i18n["2-CONTACT_TEXT"]}</p>
          </div>
          
          <div id="contact" class="linkSocials">
              <a class="link" href="https://www.instagram.com/minuttos_"><InstaIcon/></a>
              <a class="link" href="https://www.linkedin.com/in/brittofernando"><LinkedInIcon width="40px" height="40px" /></a>
              <a class="link" href="mailto:fernandobritto925@gmail.com"><MailIcon width="40px" height="40px"/></a>
              <a class="link" href="https://github.com/Fernando-Britto"><GitHubIcon width="40px" height="40px"/></a>
          </div>
          
        </section>
      </article>

      <article class="location">
        <div class="country">Misiones, Argentina</div>
        <img src="/images/world.webp" alt="" />
        <div class="circle"></div>
      </article>
    </div>
  </section>
</Layout>

<style>
  .about-me {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 250px;
  }

  h2 {
    font-weight: 700;
    font-size: clamp(1.423828125rem, calc(1.3rem + .85496vw), 2.2rem);
    align-self: center;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .contenedor {
    max-width: 80rem;
    display: grid;
    grid-template-columns: repeat(10, minmax(0, 1fr));
    gap: 20px;
  }

  article {
    border: solid 1px rgba(255, 255, 255, 0.2);
    border-radius: 0.75rem;
    padding: 35px;
  }

  header {
    color: #b86bff;
    font-size: clamp(1.2rem, calc(.9rem + 1.05vw), 1.72rem);
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .experience {
    grid-column: 1/6;
    display: flex;
    flex-direction: column;
    text-wrap: pretty;
  }


  .trabajos{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
    margin-top: 30px;
    height: 100%;
    color: #fafaf9f0;
  }

  .headerTrabajo{
    color: #b86bff;
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: clamp(1rem,calc(1.05rem + .35vw),1.5rem);
  }

  .titleTrabajo {
    font-weight: 700;  
    
    &::after{
    color: rgba(255, 255, 255, 0.3);
    content: " | ";
    margin-left: 5px;
    }
  }

  .textTrabajo {
    font-size: clamp(1rem, calc(.94737rem + .26316vw), 1.2rem);
    margin-top: 5px;
    font-weight:400;
  }

  .journey {
    grid-column: 6/11;
    display: flex;
    flex-direction: column;
    text-wrap: pretty;
  }

  .textAbout {
    font-size: clamp(1rem, calc(.94737rem + .26316vw), 1.3rem);
    color: #fafaf9e0;
    font-weight: 400;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:20px;
    height: 100%;
  }

  strong{
    color: #b86bff;
  }

  .social {
    grid-column: 1/5;
  }

  .socialContainer{
    text-wrap: pretty;
    color: #fafaf9f0;
    font-weight: 500;
  }

  .textSocial{
    margin-top: 30px;
    display: grid;
    gap: 10px;
    font-size: clamp(1rem, calc(.94737rem + .26316vw), 1.2rem);
  }

  .linkSocials{
    margin-top: 30px;
    display: flex;
    gap: 30px;
  }

  .link{
    color: #b86bff;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-duration: .5s;
    transition-duration: .5s;
    border-radius: 10px;
    &:hover{
      background-color: rgba(69, 41, 95, 0.6);
      
      
    }
  }

  .location {
    grid-column: 5/11;
    padding: 0;
    overflow: hidden;
    height: 350px;
    display: grid;
    justify-content: end;
  }

  .country {
    position: absolute;
    background: #fafaf9b1;
    font-size: clamp(.8888888888888888rem, calc(.85965rem + .1462vw), 1rem);
    color: black;
    border-radius: 0.75rem;
    align-self: end;
    margin: 15px;
    padding: 7px;
  }

  img {
    max-width: fit-content;
  }

  .circle {
    position: absolute;
    align-self: center;
    justify-self: end;
    border: solid 2px white;
    background: rgb(103 155 255);
    margin: 15px 140px 0 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow: 0px 0px 1px 1px #0000001a;
    animation: pulse-animation 4s ease-out infinite;
  }

  @keyframes pulse-animation {
    0% {
      box-shadow: 0 0 0 0px rgb(103, 155, 255, 0.5);
    }

    35% {
      box-shadow: 0 0 0 20px rgba(103, 156, 255, 0);
    }
    100% {
      box-shadow: 0 0 0 15px rgba(103, 156, 255, 0);
    }
  }
</style>
