---
import Layout from '../layouts/Layout.astro';
import Headerr from '../components/Headerr.astro';
import Hero from '../components/Hero.astro';
import Projects from '../components/Projects.astro';
import About from '../components/About.astro';
import Footer from '../components/Footer.astro';
import {getI18N} from "../i18n"

const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })
---

<Layout title={i18n.SEO_TITLE} description={i18n.SEO_DESCRIPTION}>
	<div 
		class="absolute top-0 bottom-0 z-[-2]  w-full bg-gray-50 dark:bg-gray-950
      bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(217,216,255,0.5),rgba(255,255,255,0.9))]
      dark:bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"></div>
	<Headerr/>
	<main>
		<Hero/>
		<Projects/>
		<About/>	
	</main>
	<Footer/>
</Layout>

<style>
	main{
		padding: 0px 32px;
	}
</style>