<footer class="rounded-lg shadow m-4">
    <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:justify-center md:items-center md:gap-7">
      <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">Built by Britto Fernando using Astro and Tailwind CSS. Hosted on Cloudflare.</span>
    <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
        <li>
            <a href="https://github.com/fernando925/Portfolio-Minutto" class="hover:underline me-4 md:me-6">Open code</a>
        </li>
        <li>
            <a href="mailto:fernandobritto925@gmail.com" class="hover:underline">Contact</a>
        </li>
    </ul>
    </div>
</footer>