---
import AboutIcon from "../../public/icons/AboutIcon.astro"
import CodeIcon from "../../public/icons/CodeIcon.astro"
import LenguajeIcon from "../../public/icons/LenguajeIcon.astro"
import MailIcon from "../../public/icons/MailIcon.astro"
import ChevronIcon from "../../public/icons/ChevronIcon.astro"
import {getI18N} from "../i18n"

const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })

import { LANGUAGES } from '../i18n/ui';
import { getRouteFromUrl, useTranslatedPath, getLangFromUrl } from '../i18n/utils';

const route = getRouteFromUrl(Astro.url);
const lang = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(lang);

const currentLocaleData = LANGUAGES[lang]
const otherLocales = Object.values(LANGUAGES).filter(
  (locale) => locale.code !== lang)

---

<header>
    <nav>
        <a href="#proyects"><CodeIcon size="iconHeader" class="hidden sm:inline"/>{i18n["NAV.PROYECT"]}</a>
        <a href="#about"><AboutIcon size="iconHeader" class="hidden sm:inline"/>{i18n["NAV.ABOUT"]}</a>
        <a href="#contact"><MailIcon size="iconHeader" class="hidden sm:inline"/>{i18n["NAV.CONTACT"]}</a>
        {
            otherLocales.map((locale) => (
                <a href={translatePath(`/${route ? route : ''}`, locale.code)}><LenguajeIcon size="iconHeader" class="hidden sm:inline"/>{currentLocaleData.name}<ChevronIcon/></a>         
            ))
        } 
    </nav>
</header>

<style>
    header{
        z-index: 10;
        position: sticky;
        top: 0;
        height: 50px;
        width: 100%;
        animation: nav-shadown 1s linear both;
        animation-timeline: scroll();
        animation-range: 0 200px;
    }

    nav{
        height: 50px;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-wrap: wrap;
    }

    @keyframes nav-shadown{
        100%{
            background-color: rgb(3 7 18);
        }
    }


    a{
        display: flex;
        align-items: center;
        gap: 5px;
        font-weight: 500;
        font-size: clamp(.8888888888888888rem, calc(.85965rem + .1462vw), 1rem);
        color: #fafaf9e2;
        padding: 10px;
        
        &:hover{
            color:#b86bff;
        }
    }   
</style>