---
import AboutIcon from "../../public/icons/AboutIcon.astro"
import CodeIcon from "../../public/icons/CodeIcon.astro"
import LenguajeIcon from "../../public/icons/LenguajeIcon.astro"
import MailIcon from "../../public/icons/MailIcon.astro"
---

<header>
    <nav>
        <a href="#proyects"><CodeIcon width="16px" height="16px" /> Proyects</a>
        <a href="#about"><AboutIcon width="16px" height="16px" /> About me</a>
        <a href="#contact"> <MailIcon width="16px" height="16px"/> </> Contact</a>
        <button><LenguajeIcon/>Eng</button>
    </nav>
</header>

<style>
    header{
        z-index: 10;
        position: sticky;
        top: 0;
        height: 50px;
        width: 100%;
        animation: nav-shadown 1s linear both;
        animation-timeline: scroll();
        animation-range: 0 200px;
    }

    nav{
        height: 50px;
        justify-content: center;
        align-items: center;
        display: flex;
    }

    @keyframes nav-shadown{
        100%{
            background-color: rgb(3 7 18);
        }
    }


    a, button {
        display: flex;
        align-items: center;
        gap: 5px;
        font-family: "Satoshi";
        font-weight: 500;
        font-size: 16px;
        color: #fafaf9e2;
        padding: 10px;
        
        &:hover{
            color:#b86bff;
        }
    }
</style>