---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <section>
        <h2>My favorite projects</h2>
        <ul id="cards" >
            <li class="card" id="card_1" >
                <div class="card__content" >
                    <div>
                        <h3>Card One</h3>
                        <h4>Subtitle</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p> 
                    </div>
                    <figure><img src="/images/img-1.jpg" alt=""></figure>
                </div>
            </li>
            <li class="card" id="card_2" >
                <div class="card__content">
                    <div>
                        <h3>Card One</h3>
                        <h4>Subtitle</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p> 
                    </div>
                    <figure><img src="/images/img-1.jpg" alt=""></figure>
                </div>
            </li>
            <li class="card" id="card_3">
                <div class="card__content">
                    <div>
                        <h3>Card One</h3>
                        <h4>Subtitle</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p> 
                    </div>
                    <figure><img src="/images/img-1.jpg" alt=""></figure>
                </div>
            </li>
            <li class="card" id="card_4" >
                <div class="card__content" >
                    <div>
                        <h3>Card One</h3>
                        <h4>Subtitle</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p> 
                    </div>
                    <figure><img src="/images/img-1.jpg" alt=""></figure>
                </div>
            </li>
        </ul>
    </section>
</Layout>

<style>
section{
    display: flex;
    flex-direction: column;
    width: 100%;
}

h2{
    color: #fafaf9;
        font-family: "Satoshi";
        font-weight: 700; 
        font-size: 30px;
        position: sticky;
        top: 150px;
    align-self: center;
}

h3{
    color: #fafaf980;
        font-family: "Satoshi";
        font-weight: 700; 
        font-size: 30px;
}
h4{
    color: #fafaf9A6;
        font-family: "Satoshi";
        font-weight: 400;
        font-size: 21px;
}
p{
    color: #fafaf9A6;
        font-family: "Satoshi";
        font-weight: 400;
        font-size: 21px;
}

img{
    width: 400px;
    height: 100%;
}

section{
    width: 75%;
    margin-bottom: 2000px;
}

#card_1{
    --index:1;
}
#card_2{
    --index:2;
}
#card_3{
    --index:3;
}
#card_4{
    --index:4;
}


.card {
    position: sticky;
    top:200px;
    padding-top: calc(var(--index)* 2em);

;
	--index0: calc(var(--index) - 1); /* 0-based index */
	--reverse-index: calc(var(--numcards) - var(--index0)); /* reverse index */
	--reverse-index0: calc(var(--reverse-index) - 1); /* 0-based reverse index */
}

@keyframes scale {
	to {
		transform:
			scale(calc(1.1 - calc(0.1 * var(--reverse-index))));
	}
}

#cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
    grid-template-rows: repeat(var(--numcards), 400px);
	--numcards: 4;
	view-timeline-name: --cards-element-scrolls-in-body;
}

.card__content {
    background-color: rgb(3 7 18);
    display: flex;
    justify-content: space-between;
    border: solid 1px rgba(255, 255, 255, 0.2);
    border-radius: .75rem;
    overflow: hidden;
    
    transform-origin: 50% 0%;
    will-change: transform;

	--start-range: calc(var(--index0) / var(--numcards) * 100% + 50% );
	--end-range: calc(var(--index) / var(--numcards) * 100% - 5% );

	animation: linear scale forwards;
	animation-timeline: --cards-element-scrolls-in-body;
	animation-range: entry-crossing var(--start-range) exit-crossing var(--end-range);
}
</style>