---
import Layout from "../layouts/Layout.astro";
import CodeIcon from "../../public/icons/CodeIcon.astro";
import GitHubIcon from "../../public/icons/GitHubIcon.astro";
import LinkIcon from "../../public/icons/LinkIcon.astro"
import {getI18N} from "../i18n"

const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })
---

<Layout>
    <section id="proyects" >
        <h2 ><CodeIcon width="45px" height="45px"/>{i18n.PROYECTS}</h2>
        <ul id="cards" >
            <li class="card" id="card_1" >
                <div class="card__content" >
                    <div class="text__content" >
                        <header>
                            <div class="contenedorTitle" >
                                <h3 class="TitleProyect">{i18n["1-TITLE_PROJECT"]}</h3>
                                <a href="" > <GitHubIcon width="24px" height="24px"/>{i18n["1-BTN_CODE"]}</a>
                                <a href="" > <LinkIcon/>{i18n["1-BTN_PREVIEW"]}</a>
                            </div>
                            <h4 class="SubProyect">{i18n["1-SUBTITLE_PROJECT"]}</h4>
                        </header>
                        <p>{i18n["1-TEXT_PROJECT"]}</p>
                    </div>
                    <figure><img src="/images/img-1.jpg" alt=""></figure>
                </div>
            </li>
            <li class="card" id="card_2" >
                <div class="card__content">
                    <div class="text__content" >
                        <header>
                            <div class="contenedorTitle" >
                                <h3 class="TitleProyect">{i18n["1-TITLE_PROJECT"]}</h3>
                                <a href="" > <GitHubIcon width="24px" height="24px"/>{i18n["1-BTN_CODE"]}</a>
                                <a href="" > <LinkIcon/>{i18n["1-BTN_PREVIEW"]}</a>
                            </div>
                            <h4 class="SubProyect">{i18n["1-SUBTITLE_PROJECT"]}</h4>
                        </header>
                        <p>{i18n["1-TEXT_PROJECT"]}</p>
                    </div>
                    <figure><img src="/images/img-1.jpg" alt=""></figure>
                </div>
            </li>
            <li class="card" id="card_3">
                <div class="card__content">
                    <div class="text__content" >
                        <header>
                            <div class="contenedorTitle" >
                                <h3 class="TitleProyect">{i18n["1-TITLE_PROJECT"]}</h3>
                                <a href="" > <GitHubIcon width="24px" height="24px"/>{i18n["1-BTN_CODE"]}</a>
                                <a href="" > <LinkIcon/>{i18n["1-BTN_PREVIEW"]}</a>
                            </div>
                            <h4 class="SubProyect">{i18n["1-SUBTITLE_PROJECT"]}</h4>
                        </header>
                        <p>{i18n["1-TEXT_PROJECT"]}</p>  
                    </div>
                    <figure><img src="/images/img-1.jpg" alt=""></figure>
                </div>
            </li>
            <li class="card" id="card_4" >
                <div class="card__content" >
                    <div class="text__content">
                        <header>
                            <div class="contenedorTitle" >
                                <h3 class="TitleProyect">{i18n["1-TITLE_PROJECT"]}</h3>
                                <a href="" > <GitHubIcon width="24px" height="24px"/>{i18n["1-BTN_CODE"]}</a>
                                <a href="" > <LinkIcon/>{i18n["1-BTN_PREVIEW"]}</a>
                            </div>
                            <h4 class="SubProyect">{i18n["1-SUBTITLE_PROJECT"]}</h4>
                        </header>
                        <p>{i18n["1-TEXT_PROJECT"]}</p> 
                    </div>
                    <figure><img src="/images/img-1.jpg" alt=""></figure>
                </div>
            </li>
        </ul>
    </section>
</Layout>

<style>
section{
    display: flex;
    flex-direction: column;
    width: 100%;
}

h2{
    font-weight: 700; 
    font-size: 35px;
    position: sticky;
    top: 100px;
    align-self: center;
    align-items: center;
    display: flex;
    gap: 10px;
}

img{
    width: 400px;
    height: 100%;
}

section{
    max-width: 80rem;
    margin-bottom: 350px;
}

#card_1{
    --index:1;
}
#card_2{
    --index:2;
}
#card_3{
    --index:3;
}
#card_4{
    --index:4;
}


.card {
    position: sticky;
    top:150px;
    padding-top: calc(var(--index)* 2em);

;
	--index0: calc(var(--index) - 1); /* 0-based index */
	--reverse-index: calc(var(--numcards) - var(--index0)); /* reverse index */
	--reverse-index0: calc(var(--reverse-index) - 1); /* 0-based reverse index */
}

@keyframes scale {
	to {
		transform:
			scale(calc(1.1 - calc(0.1 * var(--reverse-index))));
	}
}

#cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 100px;
    grid-template-rows: repeat(var(--numcards), 400px);
	--numcards: 4;
	view-timeline-name: --cards-element-scrolls-in-body;
}

.card__content {
    background-color: rgb(3 7 18);
    display: flex;
    justify-content: space-between;
    border: solid 1px rgba(255, 255, 255, 0.2);
    border-radius: .75rem;
    overflow: hidden;
    
    transform-origin: 50% 0%;
    will-change: transform;

	--start-range: calc(var(--index0) / var(--numcards) * 100% + 53% );
	--end-range: calc(var(--index) / var(--numcards) * 100% - 5% );

	animation: linear scale forwards;
	animation-timeline: --cards-element-scrolls-in-body;
	animation-range: entry-crossing var(--start-range) exit-crossing var(--end-range);
}

.text__content{
    padding: 40px;
}

header{
    margin: 5px 0 35px;
}

.contenedorTitle{
    display: flex;
    align-items: center;
    gap: 20px;
}

.TitleProyect{
    color:#b86bff;
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 700;
}
a{ 
    display: flex;
    gap: 5px;
    font-weight: 500;
}

.SubProyect{
    font-size: 20px;
    font-weight: 400;
}

p{
    color: #fafaf9A6;
    font-size: 19px;
    font-weight: 400;
}

</style>