---
const { title, description } = Astro.props;
---

<!doctype html>
<html lang='en'>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preload" href="/Fonts/Satoshi/satoshi.woff2" as="font" type="font/woff2" crossorigin="anonymous">
		<link rel="preload" href="/Fonts/Onest/onest.woff2" as="font" type="font/woff2" crossorigin="anonymous">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
	  	<slot />
	</body>
</html>
<style is:global>
	html{
		scroll-behavior: smooth;
	}
	main{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	body{
		background-color: rgb(3 7 18);
		margin: 0;
		padding: 0px;
		font-family: "Satoshi";
		color: #fafaf9;
	}
	a{
		text-decoration: none;
	}
	ul{
		list-style: none;
		margin: 0;
		padding: 0;
	}
	@media (prefers-reduced-motion: reduce){
		html{
			scroll-behavior: auto;
		}
	}

</style>
